/*********************************
フレーム要素のスタイル
*********************************/

html, body {
    height: 100%;
    font-family:sans-serif;
}

.header {
    width: 100%;
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
}

.date-filter {
    width: 50%;
    height: 10%;
    border: solid 1px black;
    float: left;
}

.geo-filter {
    width: 49%;
    height:100%;
    margin: 0 auto;
    border: solid 1px black;
    float: right;
}

.time-series {
    width: 50%;
    height: 40%;
    border: solid 1px black;
    float: left;
}

.pie-charts {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    float:left;
}

.pie-chart {
    display: block;
    flex-grow: 1;
    border: solid 1px black;
    float: left;
}


.footer {
    width: 100%;
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
}

@media screen and (max-width: 720px) {
    /* 720px以下に適用されるCSS（タブレット用） */
    .geo-filter {
        display: none;
    }
    .date-filter, .time-series {
        width: 100%;
    }
    .pie-charts {
        width: 100%;
        height: 70%;
        flex-direction: column;
    }
    .pie-chart {
        width: 100%;
    }
}


/*********************************
timeSeries 要素のスタイル
*********************************/
svg {
    width: 100%;
    height: 100%;
}

/* time-series のスタイル */

.y-axis line {
	opacity:.2;
}

.y-axis path {
	display:none;
}
.line {
	fill: none;
	stroke-width: 1.5px;
	opacity:.75;
}
.overlay {
	fill: none;
	pointer-events: all;
}
.lineHoverText {
	text-shadow:
	-2px -2px 0 #fff,
	2px -2px 0 #fff,
	-2px 2px 0 #fff,
	2px 2px 0 #fff;
}

.hoverCircle {
	opacity: .75;
}

text {
    font-size: 10px;
}