/*********************************
フレーム要素のスタイル
*********************************/

html, body {
    height: 100%;
    font-family:sans-serif;
}

.header {
    width: 100%;
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.left-col {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.date-filter {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    border: solid 1px black;
}

.time-series {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    border: solid 1px black;
}

.pie-charts {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: solid 1px black;
}

.pie-chart {
    display: block;
    flex-grow: 1;
    border: solid 1px black;
    box-sizing: border-box;
}

.right-col {
    width: 49.8%;
    display: flex;
    box-sizing: border-box;
    float: right;
}

.geo-filter {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    border: solid 1px black;
}

.footer {
    width: 100%;
    display: inline-block;
    padding: 1em;
    border: solid 1px black;
    box-sizing: border-box;
    /* フッターがモバイル表示の時に一番下に来ない。
    position:absolute;
    bottom:0;
    */
}

@media screen and (max-width: 720px) {
    /* 720px以下に適用されるCSS（タブレット用） */
    .geo-filter {
        display: none;
    }
    .main {
        width: 100%;
    }
    .date-filter, .time-series {
        box-sizing: border-box;
    }
    .pie-charts {
        height: 70%;
        flex-direction: column;
        box-sizing: border-box;
    }
    .pie-chart {
        width: 100%;
        display: block;
    }
}


/*********************************
timeSeries 要素のスタイル
*********************************/
svg {
    width: 100%;
    height: 100%;
}

/* time-series のスタイル */

.y-axis line {
	opacity:.2;
}

.y-axis path {
	display:none;
}
.line {
	fill: none;
	stroke-width: 1.5px;
	opacity:.75;
}
.overlay {
	fill: none;
	pointer-events: all;
}
.lineHoverText {
	text-shadow:
	-2px -2px 0 #fff,
	2px -2px 0 #fff,
	-2px 2px 0 #fff,
	2px 2px 0 #fff;
}

.hoverCircle {
	opacity: .75;
}

text {
    font-size: 10px;
}